/* main */

:root {
  --r50: #fdf4f4;
  --r100: #f9dada;
  --r200: #f4b6b6;
  --r300: #ee9191;
  --r400: #d14343;
  --b10: rgba(0, 0, 0, 0.1);
  --b30: rgba(0, 0, 0, 0.3);
  --b50: rgba(0, 0, 0, 0.5);
}

body {
  background-color: var(--r100);
  margin: 0;
  padding: 0;
  font-family: "Dosis", Helvetica, sans-serif;
}

.container {
  width: 600px;
  margin: 5em auto;
  padding: 2em;
  border-radius: 0.5em;
  background-color: var(--r50);
  box-shadow: 2px 3px 7px 2px var(--b10);
}

a:link, a:visited {
  color: var(--b50);
  text-decoration: none;
}

@media (max-width: 700px) {
  .container {
    margin: 2em auto;
    width: auto;
  }
}

/* helpers */

.text-footer {
  font-size: 0.8em;
  color: var(--b50);
}

.text-center {
  text-align: center;
}


/* components */

.avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--r100);
  box-shadow: 2px 3px 7px 2px var(--b10);
}
