---
import Layout from "../layouts/Layout.astro";
import BusinessCard from "../components/BusinessCard";
import PhaserScene from "../components/PhaserScene";
import SceneDecorations from "../components/scene/SceneDecorations.astro";
import SceneForeground from "../components/scene/SceneForeground.astro";
---

<Layout title="Sinem Demiröz Gezici">
    {/* Environment */}
    <SceneDecorations>
        <SceneForeground />
    </SceneDecorations>

    <main
        class="fixed inset-0 w-full h-screen overflow-hidden px-3 sm:px-4 md:px-0"
    >
        <PhaserScene client:only="react" />
        <BusinessCard client:load />
    </main>
</Layout>
